html,
body,
#root,
.App {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

.btn {
  height: 48px;
  min-width: 320px;
  cursor: pointer;
  margin: 50px 0 0 0;

}


ul.nav {
  background: white;
  border-bottom: solid 3px;

  .nav-item {
    width: 200px;
  }
}

a {
  color: #403a3a;
}
.nav-pills {
  .nav-link.active, .nav-pills .show > .nav-link {
    background: #403a3a;
  }
}

.serenas__container {
  background-color: #f5f5f5;
  display: flex;
  flex: 1;
}

.serenas__container--row {
  flex: 1;
}

.serenas__content {
  padding-top: 30px;
  background-color: #fff;
  padding-left: 5%;
  padding-right: 5%;
}

.serenas__sidebar {
  padding-top: 30px;
}

.btn,
.form-control {
  border-radius: 0.15rem;
}
